<h1>Box test</h1>
<script>
  document.addEventListener("DOMContentLoaded", () => {
           const chatWebSocket = openConnection()
           chatWebSocket.binaryType = "arraybuffer";
           chatWebSocket.onopen = (even) => {
               const subscribeMsg = {"command": "subscribe", "identifier": "{\"channel\":\"BoxChannel\", \"uuid\":\"<%= @uuid %>\"}"}
               chatWebSocket.send(JSON.stringify(subscribeMsg))
           }
           chatWebSocket.onmessage = (event) => {
             var server_data = JSON.parse(event.data)
             if (typeof server_data.message === 'object') {
               console.log(server_data.message)
               // console.log(server_data.message.image)
               // console.log(server_data.message.diterima)
             }
           }
       })
</script>
