<h1>Notify test</h1>
<%= action_cable_meta_tag %>
<script>
  function openConnection() {
  return new WebSocket("wss://api.smartdropbox.online/cable");
  // return new WebSocket("ws://localhost:3000/cable");
  }
  document.addEventListener("DOMContentLoaded", () => {
  const chatWebSocket = openConnection()
  chatWebSocket.binaryType = "arraybuffer";
  chatWebSocket.onopen = (even) => {
  const subscribeMsg = {"command": "subscribe", "identifier": "{\"channel\":\"NotifyChannel\", \"uuid\":\"<%= @uuid %>\"}"}
  chatWebSocket.send(JSON.stringify(subscribeMsg))
  }
  chatWebSocket.onmessage = (event) => {
  var server_data = JSON.parse(event.data)
  if (typeof server_data.message === 'object') {
  console.log(server_data.message)
  // console.log(server_data.message.image)
  // console.log(server_data.message.diterima)
  }
  }
  })
