<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New page</title>
    <script src="https://cdn.tailwindcss.com/"></script>
  </head>
  <body>
    <h1>Testing</h1>
    <script>
      function openConnection() {
          return new WebSocket("ws://api.smartdropbox.online/cable");
      }
      document.addEventListener("DOMContentLoaded", () => {
          const chatWebSocket = openConnection()
          chatWebSocket.binaryType = "arraybuffer";
          chatWebSocket.onopen = (even) => {
              const subscribeMsg = {"command": "subscribe", "identifier": "{\"channel\":\"NotifyChannel\", \"uuid\":\"<%= @uuid %>\"}"}
              chatWebSocket.send(JSON.stringify(subscribeMsg))
          }
          chatWebSocket.onmessage = (event) => {
            var server_data = JSON.parse(event.data)
            if (typeof server_data.message === 'object') {
              console.log(server_data.message)
            }
          }
      })
    </script>
  </body>
</html>
