<!DOCTYPE html>
<html>
  <head>
    <title>Dropbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %>
    <script>
      function openConnection() {
          // return new WebSocket("wss://api.smartdropbox.online/cable");
          return new WebSocket("ws://localhost:3000/cable");
      }
     
    </script>
  </body>
</html>
