<!DOCTYPE html>
<html>
  <head>
    <title>Dropbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
  </head>
  <body>
  <img src="https://res.cloudinary.com/dghu0ntvd/image/upload/vl2g1rhoca77si4oox13wrt7jkh2.jpeg" />
    <%= yield %>
    <script>
    
    function openConnection() {
        return new WebSocket("ws://localhost:3000/cable");
    }
    document.addEventListener("DOMContentLoaded", () => {
        const chatWebSocket = openConnection()
        chatWebSocket.binaryType = "arraybuffer";
        chatWebSocket.onopen = (even) => {
            const subscribeMsg = {"command": "subscribe", "identifier": "{\"channel\":\"NotifyChannel\", \"uuid\":\"601f1517-dc9e-44f4-9b7b-ea8b1f6eb2b8\"}"}
            chatWebSocket.send(JSON.stringify(subscribeMsg))
        }
        chatWebSocket.onmessage = (event) => {
          var server_data = JSON.parse(event.data)
          if (typeof server_data.message === 'object') {
            console.log(server_data.message.image)
            console.log(server_data.message.diterima)
          }         
        }
    })        
    </script>
  </body>
</html>